* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

}



.result {
    flex-basis: 10%;
    background-color: #ddd;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: cadetblue;
}

.panel div {
    padding: 50px;
    flex-basis: 33.33%;
    flex-grow: 1;
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
    font-family: arial;

}