* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.s1,
.s2 {
    flex-basis: 50%;
    height: 100vh;
    transition: 0.5s;
}

.red {
    background-color: #f00;
}