* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: radial-gradient(rgb(0, 0, 0) 4%,
            rgb(255, 0, 0) 4%, rgb(255, 0, 0) 10%,
            rgb(0, 255, 0) 10%, rgb(0, 255, 0) 18%,
            white 18%);
}

div {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: gray;
}

button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    font-family: sans-serif;
}